/viikko1/tehtavat14-16/NhlStatistics1/.nb-gradle/
/viikko1/tehtavat14-16/RiippuvuuksienInjektointi1/.nb-gradle/
.gradle
build/
/viikko2/tehtava9/Verkkokauppa1/.nb-gradle/
/viikko3/tehtavat1/nhlreader/.nb-gradle/
/viikko3/tehtavat4/HelloCucumber/.nb-gradle/
/viikko3/tehtavat5/LoginCucumber/.nb-gradle/
/viikko3/tehtavat7-11/WebLogin/.nb-gradle/
/viikko4/tehtava2/MaksukorttiMockito/.nb-gradle/
/viikko4/tehtavat3-4/Verkkokauppa/.nb-gradle/
/viikko4/tehtava1/MockitoDemo/.nb-gradle/
/viikko4/tehtava5/IntJoukkoSovellus/.nb-gradle/
/viikko4/tehtava6/Tennis/.nb-gradle/
/viikko5/tehtavat5-6/LaskinFX8/.nb-gradle/
/viikko6/QueryLanguage/.nb-gradle/